$color-text: #7D7D7D;
$color-text-blue: #03A9F4;
$color-text-gray: #B4AD9E;
$color-text-gray-two: #626262;

%columb-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex () {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    .tub {
        @include flex(flex, space-around);
        padding-bottom: 92px;
        padding-top: 71px;
    }
    .menu__list-link {
        color: $color-text;
        font-family: 'Playfair Display';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.3s ease;
        &:hover {
            color: $color-text-blue;
        }
    }
}

.all {
    .content-all {
        @extend %columb-flex;
    }
    .content1, .content2 {
        @include flex(flex, center);
        gap: 65px;
        padding-bottom: 130px;
        .fx {
            color: $color-text-gray-two;
            font-family: 'Playfair Display';
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .text {
            color: $color-text-gray;
            font-family: 'Ubuntu';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-top: 62px;
            padding-bottom: 32px;
        }
        
        .text2 {
            color: $color-text-gray-two;
            font-family: 'Playfair Display';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .content3 {
        @include flex(flex, center);
        gap: 65px;
        padding-bottom: 90px;
        .fx {
            color: $color-text-gray-two;
            font-family: 'Playfair Display';
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .text {
            color: $color-text-gray;
            font-family: 'Ubuntu';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-top: 62px;
            padding-bottom: 32px;
        }
        
        .text2 {
            color: $color-text-gray-two;
            font-family: 'Playfair Display';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .button {
        color: $color-text;
        font-family: 'Playfair Display';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 21px 49px;
        background-color: transparent;
        margin-bottom: 30px;
        border: 1px solid $color-text;
        cursor: pointer;
        transition: transform 0.3s linear, color 0.3s ease, border 0.3s ease;
        &:hover {
            color: $color-text-blue;
            border: 1px solid $color-text-blue;
            transform: scale(1.2);
        }
    }
}