.tub {
    display: flex;
    justify-content: space-around;
}
    .menu__list-item {
        display: flex;
        justify-content: space-around;
    }


div.card {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
img {
    width: 100%;
    border-radius: 0px;
}
p.text {
    font-size: 14px;
    color: #626262;
    margin: 10px 0px;
}
div.cardo {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
div.cardt {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
div.cardf {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
div.cardp {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
div.cardx {
    width: 28%;
    display: inline-block;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #ffffff;
}
.button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white; 
    padding: 10px 10px; 
    border: groove 3px rgb(165, 164, 164); 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    padding-bottom: 15px;
}
